<main id="top" class="masthead2" role="main">
  <div class="container"> 
    <!-- Startup Logo -->
    <!-- Hero Title -->
    <h1>Create Your <span>Beautiful </span><br>Job Posting</h1>
    
    <!--  Scroll to Explore --> 
    <a href="#explore" class="scrollto">
    <p class="scrollto-arrow">SCROLL DOWN TO EXPLORE</p>
    <p class="scrollto--arrow"><img src="/images/scroll_down.png" alt="scroll down arrow"></p>
    </a> 
    <!-- // Scroll to Explore Ends --> 
  </div>
</main>
<div class="highlight testimonials">
<div class="container" id="explore" style="margin-top: 20px;"> 
        <div class="row col-centered" style="max-width: 600px; background-color: #F4F4F8; margin-bottom: 30px;"><form class="form-horizontal" role="form" action="subscribe.php" id="subscribeForm" method="POST">
          
          <div class="col-md-4 bordering-right">
          	<img src="/images/building.png" width="100">
          </div>
          <div class="col-md-8 link-padding" >
          	<h3>Company Info</h3>
          	<p>Basic company information</p>
          </div>
          </div>
          <div class="row col-centered" style="max-width: 600px;">
          <div class="col-md-12">
           
              <input class="form-control input-lg" name="text" type="text" placeholder="Company Name">
            </div>
            
              <div class="col-md-9 bordering">
           
              <input class="form-control input-lg" name="location" type="location" placeholder="Location">
            </div>
            <div class="col-md-3 bordering">
            <label class="checkbox-inline no_indent">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> Remote OK
</label>
            </div>
            
              <div class="col-md-12 bordering">
           
              <textarea class="form-control" rows="9" id="comment" placeholder="Describe your company..."></textarea>
            </div>
            
            
            <!-- <div class="col-sm-3">
              <button type="submit" class="btn btn-warning btn-block btn-lg">SIGNUP NOW</button>
            </div> -->
     
     
        </div>
        <span id="result" class="alertMsg"></span> 
</div>
<hr>

<div class="container">
<div class="row col-centered" style="max-width: 500px; background-color: #F4F4F8; margin-bottom: 30px;">
<div class="col-md-4 bordering-right">
          	<img src="/images/Stationery-02-128.png" width="100">
          </div>
          <div class="col-md-8 link-padding" >
          	<h3>Skills & Experience</h3>
          	<p>What kind of ninja do you want?</p>
          </div>
</div>
<div class="row col-centered" style="max-width: 500px;">
          
 <!-- <div id="donate">
           <label class="blue bordering-right" style="padding-top: 0px;
    padding-bottom: 0px;"><input type="radio" ><span>Full-Time</span></label>
           
             <label class="green"><input type="radio" ><span>Part-Time</span></label>
            </div> -->

          <div id="donate" class="col-md-6 bordering-right" style="padding: 0px;">
           <label class="blue"><input class="visuallyhidden" type="radio" name="toggle"><span>Full-Time</span></label>
           </div>
           <div id="donate" class="col-md-6" style="padding: 0px;">
             <label class="green"><input class="visuallyhidden" type="radio" name="toggle"><span>Part-Time</span></label>
            </div>
           
              <div class="col-md-6 bordering bordering-right" style="padding-top: 0px;
    padding-bottom: 0px;">
           
              <input class="form-control input-lg" name="email" type="number" placeholder="Minimum Salary">
            </div>
            <div class="col-md-6 bordering">
           
              <input class="form-control input-lg" name="email" type="number" placeholder="Maximum Salary">
            </div>
            
              <div class="col-md-12 bordering">
           
              <input class="form-control input-lg" name="skills" type="text" placeholder="Skills: Ruby on Rails, Git, AWS...">
            </div>
</div>	
</div>

<hr>
<div class="container">
<div class="row col-centered" style="max-width: 700px; background-color: #F4F4F8; margin-bottom: 30px;">
<div class="col-md-4 bordering-right" style="text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;">
          	<img src="/images/Note-Memo-01-128.png" width="100">
          </div>
          <div class="col-md-8 link-padding" >
          	<h3>Job Info</h3>
          	<p>Why would I want to work for you?</p>
          </div>
         </div>
<div class="row col-centered" style="max-width: 700px;">
          <div class="col-md-12">
           
              <input class="form-control input-lg" name="title" type="title" placeholder="Job Title">
            </div>
            
              <div class="col-md-12 bordering">
           
              <textarea class="form-control" rows="15" id="comment" placeholder="Tell us about the job..."></textarea>
            </div>
            
</div>	
</div>

<hr>
<div class="container">
<div class="row col-centered" style="max-width: 500px; background-color: #F4F4F8; margin-bottom: 30px;">

<div class="col-md-4 bordering-right" style="text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;">
          	<img src="/images/Email-Filter-128.png" width="100">
          </div>
          <div class="col-md-8 link-padding">
          	<h3>Contact Info</h3>
          	<p>Where do you want your applications to be sent?</p>
          </div>
          </div>
<div class="row col-centered" style="max-width: 500px;">
          <div class="col-md-12">
           
              <input class="form-control input-lg" name="email" type="email" placeholder="Email">
            </div>
            
              <div class="col-md-12 bordering">
           
              <input class="form-control input-lg" name="person_name" type="person_name" placeholder="Your Name">
            </div>
 
</div>
<div class="col-md-12 highlight" style="margin-top: 10px;">           
<button type="submit" class="col-centered2 btn btn-warning btn-block btn-lg " style="text-align: center;">Generate Job Posting</button>
</div>	
	</form>
</div>
</div>