<main id="top" class="masthead3" role="main">
  <div class="container"> 
    <!-- Startup Logo -->
    <!-- Hero Title -->
    <h1>Hiring: Software Engineer<br>Atlanta, GA</h1>
    
    <!--  Scroll to Explore --> 
    <a href="#explore" class="scrollto">
    <p class="scrollto-arrow">SCROLL DOWN TO EXPLORE</p>
    <p class="scrollto--arrow"><img src="/images/scroll_down.png" alt="scroll down arrow"></p>
    </a> 
    <!-- // Scroll to Explore Ends --> 
  </div>
</main>

<div class="testimonials" style="margin-top: 0px;">

<div class="container" id="explore"> 
  <!-- Hero Image -->
  <div class="section-title">
  <div class="col-md-1"></div>
  <div class="col-md-4" style="padding-top: 20px;">

    <img src="http://i.kinja-img.com/gawker-media/image/upload/s--pEKSmwzm--/c_scale,fl_progressive,q_80,w_800/1414228815325188681.jpg" alt="." width="200">
  </div>
  <div class="col-md-5">
   <div class="bubble2"><span style="color: #000; font-size: 19px; font-style: italic; ">Since the beginning, we’ve focused on providing the best user experience possible. Whether we’re designing a new Internet browser or a new tweak to the look of the homepage, we take great care to ensure that they will ultimately serve you, rather than our own internal goal or bottom line.</span></div>
  
  </div>
  
  </div>
 </div>
 <hr>
 <div class="container">   
  <div class="col-md-2"></div>
  <div class="col-md-10" style="padding-left: 0px;">
            <h2>Skills & Experience</h2>
            <div class="col-md-6"><p>Status: Full-Time<br>Location: Remote OK</p></div>
            <div class="col-md-6"><p>Salary Range: 100k - 140k<br>Experience: Senior</p></div>
            <div class="col-md-12"><p>Skills: Ruby on Rails, Git, AWS...</p></div>
            
          </div>
          </div>
<hr>
 <div class="container">   
  <div class="col-md-2"></div>
  <div class="col-md-10" style="padding-left: 0px;">
            <h2>Job Details</h2>
            <div class="col-md-12"><p>Skills: Ruby on Rails, Git, AWS...</p></div>
            
          </div>
          </div> 

 </div>
 