<main id="top" class="masthead3" role="main">
  <div id="edit" class="container"> 
    <!-- Startup Logo -->
    <!-- Hero Title -->
    <h1><span id="page_name" class="mercury-region" contenteditable="true" data-mercury="full">Hiring: Software Engineer<br>Atlanta, GA</span></h1>
    <div class="row">
      <div class="col-md-12 breath text-center"> <a href="/links/new" class="btn btn-success btn-lg gototop">Apply Now</a> </div>
    </div>
    <!--  Scroll to Explore --> 
    <a href="#explore" class="scrollto">
    <p class="scrollto-arrow">SCROLL DOWN TO EXPLORE</p>
    <p class="scrollto--arrow"><img src="/images/scroll_down.png" alt="scroll down arrow"></p>
    </a> 
     
      <div class="row" style="">
    <ul class="list-inline">
   <li style="padding:0px;"> <%= social_share_button_tag("My Home Page", :url => "http://mysite.com/foo", :popup => "true") %></li>
  <li style="padding:0px;"><a style="display: inline-block;" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=www.jobs.com&title=My%20title&summary=summary&source=','popUpWindow','height=500,width=500,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');"><img src="/images/linkedin.png"></a></li>
</ul>
</div>
  </div>

   

</main>

<div class="testimonials" style="margin-top: 0px;">

<div class="container" id="explore"> )
  <!-- Hero Image -->
   <div class="row col-centered2" style="max-width: 650px;">
  <div class="section-title">
  
  <div class="col-md-8" style="padding-left: 0px;">
   <div class="bubble2" style="text-align: left;"><p style="font-style: italic; "><span contenteditable="true" data-mercury="full">Since the beginning, we’ve focused on providing the best user experience possible. Whether we’re designing a new Internet browser or a new tweak to the look of the homepage, we take great care to ensure that they will ultimately serve you, rather than our own internal goal or bottom line.</span></p></div>
  
  </div>
  <div class="col-md-4" style="padding-top: 40px;">

    <img src="http://i.kinja-img.com/gawker-media/image/upload/s--pEKSmwzm--/c_scale,fl_progressive,q_80,w_800/1414228815325188681.jpg" alt="." width="150">
  </div>
  </div>
  </div>
 </div>
 <hr>
 <div class="container">   
  <div class="row col-centered2" style="max-width: 650px;">
  <div class="col-md-12" style="padding-left: 0px;">
            <h2>Overview</h2>
            <div class="col-md-6" style="padding-left: 0px;"><p><strong>Employment Type:</strong> Full-Time</p></div>
            <div class="col-md-6" style="padding-left: 0px;"><p><strong>Location:</strong> Atlanta, Remote OK</p></div>
            <div class="col-md-6" style="padding-left: 0px;"><p><strong>Salary Range:</strong> 100k - 140k</p></div>
            <div class="col-md-6" style="padding-left: 0px;"><p><strong>Experience:</strong> Senior Level</p></div>
            <div class="col-md-6" style="padding-left: 0px;"><p><strong>Travel:</strong> Sometimes</p></div>
            <div class="col-md-6" style="padding-left: 0px;"><p><strong>Education:</strong> Bachelor in CS or related</p></div>
            <div class="col-md-12" style="padding-left: 0px; margin-top: 30px;"><p><strong>Skills:</strong> Ruby on Rails, Git, AWS, PostgreSQL, MongoDB, Ember, Jenkins</p></div>
            
          </div>
          </div>
          </div>
<hr>
 <div class="container">   
 <div class="row col-centered2" style="max-width: 650px;">
  <div class="col-md-12" style="padding-left: 0px;">
            <h2><span contenteditable="true" data-mercury="full">Job Requirements</span></h2>
            <div class="col-md-12" style="padding-left: 0px;" contenteditable="true" data-mercury="full"><p>MailChimp is seeking a software engineer to help us build the MailChimp application. We don’t care about pedigree or what languages or stacks you’ve worked in, we’re just looking for great engineers. In fact, if you’d rather send us <a href="http://devs.mailchimp.com/blog/code-samples-and-hiring-developers/">code</a> than polish up your resumé, that works for us.</p>
            <p>You’ll work with our product–development team to build new functionality into our product, and our customer–service team to resolve issues as they arise. You’ll be allowed—even required—to be creative in your work. We push managers and meetings out of the way so you can concentrate on what you love to do.</p>
            <p>We’re looking for developers located anywhere, but who are willing to work in Atlanta. We allow for flexible hours and some telecommute options, but you need to be in the Atlanta office on a regular basis. We’ll help you with relocation.</p></div>
            
          </div>
          </div>
          </div> 

<hr>
 <div class="container">
 <div class="row col-centered2" style="max-width: 650px;">
  <div class="col-md-12" style="padding-left: 0px;">
            <h2><span contenteditable="true" data-mercury="full">A Typical Day at Google</span></h2>
            <div class="col-md-12" style="padding-left: 0px;" contenteditable="true" data-mercury="full"><p>MailChimp is seeking a software engineer to help us build the MailChimp application. We don’t care about pedigree or what languages or stacks you’ve worked in, we’re just looking for great engineers. In fact, if you’d rather send us <a href="http://devs.mailchimp.com/blog/code-samples-and-hiring-developers/">code</a> than polish up your resumé, that works for us.</p>
            <p>You’ll work with our product–development team to build new functionality into our product, and our customer–service team to resolve issues as they arise. You’ll be allowed—even required—to be creative in your work. We push managers and meetings out of the way so you can concentrate on what you love to do.</p>
            <p>We’re looking for developers located anywhere, but who are willing to work in Atlanta. We allow for flexible hours and some telecommute options, but you need to be in the Atlanta office on a regular basis. We’ll help you with relocation.</p></div>
            
          </div>
          </div>
          </div> 

<hr>
 <div class="container" id="explore" style="margin-top: 20px;"> 
        <div class="row col-centered" style="max-width: 650px; background-color: #F4F4F8; margin-bottom: 30px;"><form class="form-horizontal" role="form" action="subscribe.php" id="subscribeForm" method="POST">
          
          <div class="col-md-4 bordering-right">
            <img src="/images/building.png" width="100">
          </div>
          <div class="col-md-8 link-padding" >
            <h3>Your Info</h3>
            <p>Apply for this position</p>
          </div>
          </div>
          <div class="row col-centered" style="max-width: 650px;">
          <div class="col-md-12">
           
              <input class="form-control input-lg" name="text" type="text" placeholder="First Name">
            </div>
            <div class="col-md-12 bordering">
           
              <input class="form-control input-lg" name="text" type="text" placeholder="Last Name">
            </div>
            
            <div class="col-md-12 bordering">
           
              <input class="form-control input-lg" name="text" type="text" placeholder="Email">
            </div>
            <input type="file" id="fileInput" style="display:none"/>
            <a href="#" id="upload">
            <div class="col-md-6 bordering bordering-right donate" style="padding: 0px;">
            
           <p style="font-size: 16px;
    line-height: 1.33; color: #555555;">Upload Resume</p>
           </div></a>
           <input type="file" id="fileInput2" style="display:none"/>
           <a href="#" id="upload2">
           <div id="donate" class="col-md-6 bordering donate" style="padding: 0px;">
           
            <p style="font-size: 16px;
    line-height: 1.33; color: #555555;">Upload Cover Letter</p>
            </div></a>

            
              <div class="col-md-12 bordering">
           
              <textarea class="form-control" rows="9" id="comment" placeholder="Additional comments or questions" style="padding-top: 20px;"></textarea>
            </div>
            
            
            
            <!-- <div class="col-sm-3">
              <button type="submit" class="btn btn-warning btn-block btn-lg">SIGNUP NOW</button>
            </div> -->
     
     
        </div>
        <span id="result" class="alertMsg"></span> 
</div>

<div class="col-md-12 highlight" style="margin-top: 10px;">           
<button type="submit" class="col-centered2 btn btn-warning btn-block btn-lg " style="text-align: center;">Apply</button>
</div>

